{% extends 'register/base.html' %}


{% block content %}
        {% for class_instance in classes %}
        <ul><li><div class="class-container"> <a href="{% url 'class_detail' pk=class_instance.pk %}">{{ class_instance.class_Name }}</a> 
            (Teacher: {{ class_instance.teacher_Name }}) <a href="{% url 'class_edit' pk=class_instance.pk %}">
                {% include './icons/edit-3-svgrepo-com.svg' %}<a href="{% url 'class_delete' pk=class_instance.pk %}">
                    {% include './icons/delete-2-svgrepo-com.svg' %}</div> 
            </a></li></ul>
        {% empty %}
        <li>No classes available.</li>
        {% endfor %}
{% endblock %}

